img {
    height: 300px;
    width: 300px;
}
h2 {
    max-width: 300px;
    word-wrap: break-word;
    text-align: center;
}

#maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#searchContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

#buttoncontainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
#searchInput {
    height: 35px;
    width: 200px;
    font-size: large;
}

.buttons {
    height: 40px;
    width: 150px;
    font-size: large;
    border-radius: 10px;
    background-color: chocolate;
    color: aliceblue;
}

.buttons:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    #buttoncontainer, #searchContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    h2 {
        margin: auto;
    }
    
}